.contenedor_comentario{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    background-color: #F2EBBF;
    border-radius: 20px;
    border: solid 5px #5C4B51;
}

.contenedor_comentario > :nth-child(1){
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0px 0px 10px 0px;
    border-bottom:dashed 4px #5C4B51;
}

.contenedor_comentario > :nth-child(1) > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contenedor_comentario > :nth-child(1) > div > img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.contenedor_comentario > :nth-child(1)  > div > h3{
    color: #5C4B51;
    font-size: 30px;
}

.contenedor_comentario > :nth-child(1) > p{
    color: #5C4B51;
    font-size: 15px;
}

.contenedor_comentario > :nth-child(2){
    width: 100%;
    padding: 30px 0px;
}

.contenedor_comentario > :nth-child(2) > p{
    font-size: 25px;
    color: #5C4B51;
}