.contenedor_publicacion_perfil{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    background-color: #F2EBBF;
    border-radius: 20px;
    border: solid 7px #5C4B51;
}

.contenedor_publicacion_perfil > :nth-child(1){
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0px 0px 10px 0px;
    border-bottom:dashed 4px #5C4B51;
}

.contenedor_publicacion_perfil > :nth-child(1) > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contenedor_publicacion_perfil > :nth-child(1) > div > img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.contenedor_publicacion_perfil > :nth-child(1)  > div > h3{
    color: #5C4B51;
    font-size: 30px;
}

.contenedor_publicacion_perfil > :nth-child(1) > p{
    color: #5C4B51;
    font-size: 15px;
}

.contenedor_publicacion_perfil > :nth-child(2){
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    border-bottom:dashed 4px #5C4B51;
    gap: 20px;
}

.contenedor_publicacion_perfil > :nth-child(2) > input{
    width: 100%;
    font-size: 18px;
    padding: 5px;
    border-radius: 20px;
    border: solid 4px #5C4B51;
    outline: none;
    background-color: transparent;
}

.contenedor_publicacion_perfil > :nth-child(2) > input:focus{
    background-color: #FFFFB4;
}

.contenedor_publicacion_perfil > :nth-child(2) > textarea{
    width: 100%;
    font-size: 18px;
    padding: 5px;
    border-radius: 20px;
    border: solid 4px #5C4B51;
    outline: none;
    background-color: transparent;
}

.contenedor_publicacion_perfil > :nth-child(2) > textarea:focus{
    background-color: #FFFFB4;
}

.contenedor_publicacion_perfil > :nth-child(2) > div{
    display: flex;
    gap: 10px;
}

.contenedor_publicacion_perfil > :nth-child(2) > div > :nth-child(1){
    font-size: 20px;
    color: #5C4B51;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #8CBEB2;
    border: solid 5px #5C4B51;
    cursor: pointer;
}

.contenedor_publicacion_perfil > :nth-child(2) > div > :nth-child(2){
    font-size: 20px;
    color: #FFFFB4;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #F06060;
    border: solid 5px #5C4B51;
    cursor: pointer;
}

.contenedor_publicacion_perfil > :nth-child(2) > h4{
    font-size: 30px;
    color: #5C4B51;
    padding: 0px 0px 20px 0px;
}

.contenedor_publicacion_perfil > :nth-child(2) > p{
    font-size: 25px;
    color: #5C4B51;
}

.contenedor_publicacion_perfil > :nth-child(2) > img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.contenedor_publicacion_perfil > :nth-child(3){
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    border-bottom:dashed 4px #5C4B51;
}

.contenedor_publicacion_perfil > :nth-child(3) > :nth-child(1){
    font-size: 25px;
    color: #F06060;
    cursor: pointer;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.contenedor_publicacion_perfil > :nth-child(3) > :nth-child(2){
    font-size: 25px;
    color: #F06060;
    cursor: pointer;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.contenedor_publicacion_perfil > :nth-child(3) > div{
    display: flex;
    gap: 30px;
}

.contenedor_publicacion_perfil > :nth-child(3) > div > :nth-child(1){
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.contenedor_publicacion_perfil > :nth-child(3) > div > :nth-child(2){
    width: 60px;
    height: 60px;
    transform: scaleX(-1) scaleY(-1);
    cursor: pointer;
}

.contenedor_publicacion_perfil > :nth-child(4){
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.contenedor_publicacion_perfil > :nth-child(4) > :nth-child(1){
    font-size: 30px;
    color: #5C4B51;
    padding: 10px 50px;
    border-radius: 20px;
    background-color: #8CBEB2;
    border: solid 5px #5C4B51;
    cursor: pointer;
}

.contenedor_publicacion_perfil > :nth-child(4) > :nth-child(2){
    font-size: 30px;
    color: #FFFFB4;
    padding: 10px 50px;
    border-radius: 20px;
    background-color: #F06060;
    border: solid 5px #5C4B51;
    cursor: pointer;
}