@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Madimi One", sans-serif;
}

.contenedor_inicio_sesion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #F3B562;
}